@page "/"

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <p>Hola @context.User.Identity?.Name</p>
        <p>Hola@context.User.Identity?.Authenticado</p>

        <p>Hola como estas?, sos un usuario autenticado</p>
        @foreach (var item in context.User.Claims)
        {
            <tr>
                <td>@item.Value</td>
            </tr>
            
        }
    </Authorized>
    <NotAuthorized>
        <p>Hola no estas autenticado, realiza el login</p>
    </NotAuthorized>
</AuthorizeView>
<h1>Hello, Despensa Raquel!</h1>

Welcome to your new app.
